// Placeholder

*{
  -webkit-font-smoothing: antialiased !important;
  -moz-osz-font-smoothing: grayscale !important;
}

body{
  background: $black;
  font-size: 100%;
}

h1, h2, h3, h4, h5, p, li, a {
  font-family: $sans;
}

a{
  text-decoration: none;
  &:hover{
    color: $white;
  }
}

input[type=text], textarea, input[type=password] {
    width: 100%;
    padding: 0.5em;
    font-size: 2em;
    font-family: 'proxima nova';
    border-radius: 0.1em;
    border: none;
    background: $light-grey;
    color: $grey;
}
