.l-container{
  padding-bottom: 8em;
  background: $white;
}
.l-content{
  @include outer-container;
}
.l-main{
  padding: 2em;
  margin-top: 2em;
}

.l-memo-size{
 @include span-columns(5);
 @include shift(3);
}

.l-text-area{
  @include span-columns(10);
  @include shift(1);
  margin-top: 3em;
  background: white;
  padding: 2em 3em 5em;
  border: 1px solid $light-grey;
  border-radius: 0.3em;
  p{
    line-height: 30px;
  }
}

.l-header, .l-footer{
  .nav{
    @include outer-container;
    padding: 0.5em 0;
  }
  .logo{
    float: left;
  }
  ul{
    text-align: right;
    margin: 0;
  }
  li{
    display: inline-block;
    list-style: none;
    color: $white;
  }
  a{
    display: block;
    padding: 0 0.5em;
    margin: 0 0.5em;
  }
}

.l-footer{
  padding: 0 0 5em 0;
  .copy{ @include outer-container; }
}
// .welcome-footer{
//   position: fixed;
//   bottom: 0;
//   width: 100%;
// }

.l-header, .l-footer{
  a{ color: $tan;
  &:hover{
    color: $white;
  } }
  color: $white;
}
