.l-container{
  padding-bottom: 8em;
  background: $white;
}
.l-content{
  @include outer-container;
}
.l-main{
  padding: 2em;
  margin-top: 2em;
}

.l-header, .l-footer{
  .nav{
    @include outer-container;
    padding: 0.5em 0;
  }
  .logo{
    float: left;
  }
  ul{
    text-align: right;
    margin: 0;
  }
  li{
    display: inline-block;
    list-style: none;
    color: $white;
  }
  a{
    display: block;
    padding: 0 0.5em;
    margin: 0 0.5em;
  }
}

.l-footer{
  padding: 0 0 5em 0;
  .copy{ @include outer-container; }
}
// .welcome-footer{
//   position: fixed;
//   bottom: 0;
//   width: 100%;
// }

.l-header, .l-footer{
  a{ color: $tan;
  &:hover{
    color: $white;
  } }
  color: $white;
}
