.comment-box{
  background: $light-grey;
  padding: 1em;
  margin-bottom: 0.5em;
  .comment{
    color: $black;
    margin-bottom: 0.4em;
  }
  .user{
    text-align: right;
  }
  .vote{
    color: $blue;
    font-size: 0.9em;
    a{
    color: $blue;
    }
    &:hover{
      text-decoration: underline;
    }
  }
}
