.mix-summary{
  @include row;
  background: $black;
  color: $white;
  padding: 0 1em;
  margin-bottom: 0.5em;
  font-weight: 800;
  font-size: 1.2em;
  .title, .author{
    @include span-columns(3);
  }
  .votes{
    @include span-columns(6);
    text-align: right;
  }
  a{ color: $tan;
    &:hover{
      color: $white;
    }
  }
}
.mix{
  @include row;
}

.mix-details{
  @include span-columns(4);
  img{
    width: 100%;
  }
}

.player{
  @include span-columns(8);
  float: right;
}

// New Mix Page

.entry{
  @include row;
  border-bottom: 1px dashed $tan;
  padding: 2em;
  .details{
    @include span-columns(5);
  }
  .step-details{
    @include span-columns(7);
  }
}


.mix-submit{
  @include shift(9);
  @include span-columns(3);
}


.step-help{
  color: $blue;
  font-size: 0.9em;
}
