.mix-grid {
  @include row;
  .mix-thumb {
    @include span-columns(3);
    @include omega(4);
    img { width: 100%; }
    p.title {
      overflow: hidden;
      padding: 0;
      margin: 0.2em 0;
    }
    p.stats {
      font-size: 0.8em;
      color: $mid-grey;
      padding: 0;
      margin: 0;
      font-weight: 100;
    }
    &:hover{
      background: $highlight;
      padding: 0.5em;
      p {color: $black;}
    }
  }
}
