.mix-garnish{
  h2{
    padding: 0;
    margin: 0;
    font-size: 2em;
    font-family: $cond;
  }
}

.button-garnish{
  @include row;
  .mixes{
    @include row;
    .mix{
      @include span-columns(3);
      img{ width: 100%;}
      p{
        overflow: hidden;
      }
    }
  }
  background: white;
  padding: 2em;
  .copy, .action {
    @include span-columns(6);
  }
  h3{
      font-size: 2.2em;
    @include media($breakpoint-desktop) {
      font-size: 3em;
    }
  }
  .action{
    .button{
      margin-top: 2.5em;
    }
  }
  a{
    color: $black;
    &:hover{
      color: $blue;
    }
  }
}
