
.activity-stream{
  @include row;
  h2 {
    font-family: $cond;
    padding: 0;
    margin: 0;
    font-size: 2em;
  }
  a{
    color: black;
    &:hover{ color: $blue }
  }
}
.mix-garnish{
  @include span-columns(8);
}
.comment-stream{
  @include span-columns(4);
  .comment-wrapper{
    padding: 0.3em 0;
      @include row;
      margin-bottom: 0.5em;
    .cover-thumb{
      @include span-columns(3);
      img{ width: 100%; }
    }
    .comment{
      @include span-columns(8);
      line-height: 30px;
      padding: 0.5em 0;
      i.fa.fa-comment{
        margin: 0 0.2em 0 0;
      }
    }
    .mix-details{
      width: 100%;
      .title{
        float: left;
        margin: 0 0.2em;
      }
      .by{
        float: left;
        margin: 0 0.2em;
        font-size: 0.8em;
      }
      .user{
        float: left;
        margin: 0 0.2em;
      }
    }
  }

}

.button-garnish{
  @include row;
  .mixes{
    @include row;
    .mix{
      @include span-columns(3);
      img{ width: 100%;}
      p{
        overflow: hidden;
      }
    }
  }
  background: white;
  padding: 2em;
  .copy, .action {
    @include span-columns(6);
  }
  h3{
      font-size: 2.2em;
    @include media($breakpoint-desktop) {
      font-size: 3em;
    }
  }
  .action{
    .button{
      margin-top: 2.5em;
    }
  }
  a{
    color: $black;
    &:hover{
      color: $blue;
    }
  }
}
