.promotion-grid {
  @include row;
  margin-bottom: 1em;
  .mix-thumb {
    @include span-columns(2);
    @include omega(6n);
    img { width: 100%; }
    font-size: 0.8em;
    p.title {
      overflow: hidden;
      padding: 0;
      margin: 0.2em 0;
    }
    p.stats {
      font-size: 0.8em;
      color: $mid-grey;
      padding: 0;
      margin: 0;
      font-weight: 100;
    }
    &:hover{
      p {color: $black;}
    }
  }
}
