.user-grid {
  @include row;
  .user-thumb {
    @include span-columns(2);
    @include omega(2);
    h2{
      padding: 0;
      margin: 0;
      font-weight: 100;
    }
    img { width: 100%; }
    p.title {
      overflow: hidden;
      padding: 0;
      margin: 0 0 0.2em 0;
    }
    p.stats {
      color: $mid-grey;
      padding: 0;
      margin: 0;
      font-weight: 100;
    }
  }
}
