.user-summary{
  @include row;
  .profile-pic{ @include span-columns(1); }
  h1.username{
    padding: 0 0 1em 0;
    margin: 0;
  }
  margin-bottom: 0.5em;
}

.new-user{
  @include row;
  .copy{
    @include span-columns(5);
    padding-right: 2em;
  }
  .form-entry{
    @include span-columns(7);
    border-left: 1px dashed $light-grey;
    padding-left: 2em;
  }
}
