.user-summary{
  @include row;
  .profile-pic{ @include span-columns(1); }
  h1.username{
    padding: 0 0 1em 0;
    margin: 0;
  }
  margin-bottom: 0.5em;
}

.new-user{
  @include row;
  .copy{
    @include span-columns(5);
    padding-right: 2em;
  }
  .form-entry{
    @include span-columns(7);
    border-left: 1px dashed $light-grey;
    padding-left: 2em;
  }
}

.comment-section{
  @include row;
}
.comment-thumb{
  @include span-columns(6);
  @include omega(2n);
  padding: 2em 0;
  .comment{
    @include span-columns(12);
    line-height: 30px;
    border-bottom: 1px solid $light-grey;
    padding: 0.5em 0;
    i.fa.fa-comment{
      margin: 0 0.2em 0 0;
    }
  }
  .mix-details{
    width: 100%;
    .title{
      float: left;
      margin: 0 0.2em;
    }
    .by{
      float: left;
      margin: 0 0.2em;
      font-size: 0.8em;
    }
    .user{
      float: left;
      margin: 0 0.2em;
    }
  }
}
